html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#viewDiv {
  height: 100%;
  width: 100%;
}

#titleDiv, #parcelInfoDiv, #dateDiv, #instructBtn{
  padding: 5px 10px 5px 10px;
  background-color: dimgrey;
  color: azure;
  opacity: .98;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
}

#titleDiv{
  font-size: x-large;
  font-weight: bold;  
}

#parcelInfoDiv, #dateDiv{
  font-size: medium;
  display: none;
}  

#instructDiv{
  height: 50%;
  width: 20%;
  left: 2.5%;
  top: 23%;
  background-color: lightgray ;
  border: 6px solid dimgray;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  margin: 5px;
  overflow: auto;
  /* display: none; */
}

#instructDiv > p, h3{
  padding: 10px;
  text-align: center;
}

#instructDiv > img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#instructDiv > h3{
  text-align: center;
}

#instructBtn:hover{
  background-color: gray;
}

#closeBtn {
  color: dimgray;
  float: right;
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 5px;
  background-color: lightgray;
  border: 1px solid gray;
  border-radius: 5px;
}

#closeBtn:hover{
  background-color: whitesmoke;
}

#table1Div, #table2Div{
  height: 28%;
  width: 360px;
  right: 1%;
  border: 6px solid dimgray;
  border-radius: 10px;
  background-color: lightgray;
  padding: 5px;
}

#table1Div{
  top: 20%
}

#table2Div{
  bottom: 15%
}

.tableTitle{
  background-color: lightgray;
  text-align: center;
  margin: auto;
  font-size: medium;
  font-weight: bold;
  border-radius: 5px;
}

/* hide the secondary info panel of the sketch widget that pops up when user selects a parcel */
/* div.esri-sketch__panel.esri-sketch__info-panel{
  display: none */
/* }  */


/******************
   FEATURE TABLE
******************/

/* make long Feature Table column values wrap */
vaadin-grid-cell-content {
  white-space: normal !important;
}

/* hide 3 dots menu since up/down arrows do the same thing */
div.esri-column__menu-container.esri-button-menu.esri-widget {
  display: none;
}


/* change featureTable font size */
/* vaadin-grid-cell-content {
  font-size: .575rem !important;
} */

/* attempt #1 to adjust table column size */
/* shrinks content but not underlying grid */
/* vaadin-grid-sorter{
  max-width: 40%;
} */

/* attempt #2 to adjust table column size */
/* shrunk content but not underlying grid */
/* vaadin-grid-cell-content.esri-field-column__header-content{
  max-width: 40%;
} */