html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#viewDiv {
  height: 100%;
  width: 100%;
}

#table1Div, #table2Div{
  height: 30%;
  width: 350px;
  right: 1%;
  border: 6px solid dimgray;
  border-radius: 10px;
  display: none;
}

#table1Div{
  top: 20%
}

#table2Div{
  bottom: 15%
}

#titleDiv, #parcelInfoDiv{
  padding: 5px;
  background-color: dimgrey;
  color: azure;
  opacity: .95;
  border-radius: 5px;
}

#titleDiv{
  font-size: x-large;
  font-weight: bold;

}

#parcelInfoDiv{
  font-size: medium;
  display: none;
}  

/* vaadin-grid-sorter.esri-column__sorter > #div {
  background-color: blueviolet;
  width: 50px
} */


/* vaadin-grid-cell-content{
  background-color: blueviolet;
} */

/* #shadow-root {
  background-color: blueviolet;
} */

/* vaadin-grid-cell-content.esri-field-column_header-content::slotted(vaadin-grid-cell-content-3){
  background-color: blueviolet !important;
  width: 50px !important
} */


/* vaadin-grid-cell-content::slotted(vaadin-grid-cell-content-3){
  background-color: blueviolet !important;
  max-width: 50% !important
} */





/* make long Feature Table column values wrap */
vaadin-grid-cell-content {
  white-space: normal !important;
}

/*shrinks content but not underlying grid*/
/* vaadin-grid-sorter{
  max-width: 40%;
} */




/* vaadin-grid-cell-content-2 {
  max-width: 40% !important;
} */



/* vaadin-grid-sorter::part(content){
  max-width: 20% !important 
}  */

/* vaadin-grid-sorter.esri-column__sorter{
  max-width: 40% !important 
} */

/* shrunk content but not underlying grid*/
/* vaadin-grid-cell-content.esri-field-column__header-content{
  max-width: 40%;
} */

/* doesn't do anything on it's own*/
/* vaadin-grid-cell-content.esri-field-column{
  max-width: 40%;
} */



/* vaadin-grid-column {
  width: auto;
  display:flex;
} */

/* doesn't do anything on it's own*/
/* vaadin-grid-cell{
  max-width: 40%;
} */



/* th#vaadin-grid-cell-3 {
  width: 50px 
} */

/* vaadin-grid-cell-2 {
  max-width: 50% 
}
vaadin-grid-cell-3 {
  max-width: 50% 
} */


/* change featureTable font size */
/* vaadin-grid-cell-content {
  font-size: .575rem !important;
} */

/* hide 3 dots menu since up/down arrows do the same thing */
div.esri-column__menu-container.esri-button-menu.esri-widget {
  display: none;
}

/* hide the secondary info panel of the sketch widget that pops up when user selects a parcel;
it provides no additional functionality in this application's context */
/* div.esri-sketch__panel.esri-sketch__info-panel{
  display: none
} */